body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box {
    -webkit-box-shadow: 15px 15px 8px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    15px 15px 8px rgba(50, 50, 50, 0.75);
    box-shadow:         15px 15px 8px rgba(50, 50, 50, 0.75);


    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    background: silver;
    text-align: center;
}
.b-error-message {
    width: 350px;
    margin: 10px 10px 25px 10px;
}
.b-error-message font{
    margin: 15px;
    padding: 15px;
}

.b-login-page {
    width: 250px;
    height: 170px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}
.b-logo {

}

.b-input {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}

.b-button {
    justify-content: center;
}
.button {
    cursor: pointer;
    width: 75px;
    height: 25px;
    margin: 10px;
}